/**
 * Absolute Position: anchors element to the first element (overall box)
 **/

.box-set {
  height: 200px;
  background: #eaeaed;
}

.box {
  /* Absolute Position */
  position: relative;
  height: 80px;
  width: 80px;
  background: yellow;
  float: left;
}


/* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */

.box-1 {
  top: 0%;
  left: 1%;
  background: green;

}

.box-2 {
  top: 0px;
  right: 130px;
  height: 60px;
  width: 60px;
}

.box-3 {
  top: 0px;
  right: 0px;
}

.box-4 {
  bottom: 0;
}